$width:          1160px;
$font-m:         Ubuntu Medium, Arial, sans-serif;
$font-c:         Ubuntu Condensed, Arial, sans-serif;
$font-a:         Arial, sans-serif;
$color-hover-l:  #248cec;
$color-about:    #2a2b2e;
$color-hover-m:  #f4b60d;